Repository BloomLabsInc/genkit-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidoort, @EPMatt, @Dabolus, @retzd-tech, @zhanshuyou, @xavidop

fix: openai warning
  docs/docs/plugins/openai.md
  plugins/openai/README.md
Owners: @davidoort, @EPMatt, @Dabolus

Add support for GPT-5 models in OpenAI plugin
  plugins/openai/README.md
  plugins/openai/src/gpt.ts
  plugins/openai/src/index.ts
Owners: @Dabolus

feat(anthropic): add support for Genkit v2 streaming API
  package-lock.json
  plugins/anthropic/package.json
  plugins/anthropic/src/claude.test.ts
  plugins/anthropic/src/claude.ts
  plugins/azure-openai/src/gpt.ts
  plugins/cohere/src/command.ts
  plugins/groq/src/groq_models.ts
  plugins/mistral/src/mistral_llms.ts
Owners: @davidoort, @EPMatt, @Dabolus, @xavidop

fix: typo in optionalDependencies
  package-lock.json
  package.json
Owners: @davidoort, @EPMatt

fix: bump
  README.md
Owners: @davidoort, @EPMatt

refactor(plugins/anthropic): migrate plugin to v2 API
  package-lock.json
  plugins/anthropic/package.json
  plugins/anthropic/src/claude.ts
  plugins/anthropic/src/index.ts
Owners: @davidoort, @EPMatt, @Dabolus

chore(groq): bump genkit version
  package-lock.json
  plugins/groq/package.json
Owners: @davidoort, @EPMatt

fix(plugins/anthropic): test
  plugins/anthropic/src/claude.test.ts
Owners: @Dabolus

refactor(plugins/cohere): migrate plugin to v2 API
  package-lock.json
  plugins/cohere/package.json
  plugins/cohere/src/command.ts
  plugins/cohere/src/embedder.ts
  plugins/cohere/src/index.ts
  plugins/convex/src/index.ts
Owners: @davidoort, @EPMatt

refactor(plugins/openai): migrate plugin to v2 API
  package-lock.json
  plugins/openai/package.json
  plugins/openai/src/dalle.ts
  plugins/openai/src/embedder.ts
  plugins/openai/src/gpt.test.ts
  plugins/openai/src/gpt.ts
  plugins/openai/src/index.ts
  plugins/openai/src/tts.ts
  plugins/openai/src/whisper.ts
Owners: @davidoort, @EPMatt, @Dabolus

refactor(plugins/mistral): migrate plugin to v2 API
  package-lock.json
  plugins/mistral/package.json
  plugins/mistral/src/embedders.ts
  plugins/mistral/src/index.ts
  plugins/mistral/src/mistral_llms.ts
  plugins/mistral/src/ocr.ts
Owners: @davidoort, @EPMatt

refactor(plugins/azure-openai): migrate plugin to v2 API
  package-lock.json
  plugins/azure-openai/package.json
  plugins/azure-openai/src/dalle.ts
  plugins/azure-openai/src/embedder.ts
  plugins/azure-openai/src/gpt.ts
  plugins/azure-openai/src/index.ts
  plugins/azure-openai/src/tts.ts
  plugins/azure-openai/src/whisper.ts
Owners: @davidoort, @EPMatt, @xavidop

feat: migrate to v2 plugins API
  plugins/groq/src/groq_models.ts
  plugins/groq/src/index.ts
  plugins/groq/tests/groq_test.ts
Owners: @davidoort, @EPMatt

refactor(plugins/mistral): remove 'mistral' prefixes
  plugins/mistral/src/embedders.ts
  plugins/mistral/src/index.ts
  plugins/mistral/src/mistral_llms.ts
  plugins/mistral/src/ocr.ts
Owners: @davidoort, @EPMatt

chore(plugins/groq): remove /groq prefix
  plugins/groq/src/groq_models.ts
Owners: @davidoort, @EPMatt

fix: replace 'rm -rf' with rimraf for cross-platform building
  examples/all-plugins/package.json
  plugins/anthropic/package.json
  plugins/azure-openai/package.json
  plugins/cohere/package.json
  plugins/convex/package.json
  plugins/graph/package.json
  plugins/hnsw/package.json
  plugins/milvus/package.json
  plugins/mistral/package.json
  plugins/openai/package.json
Owners: @davidoort, @EPMatt, @Dabolus, @xavidop, @retzd-tech, @zhanshuyou

refactor(plugins/openai): remove 'openai' prefix
  plugins/openai/src/dalle.ts
  plugins/openai/src/embedder.ts
  plugins/openai/src/gpt.test.ts
  plugins/openai/src/gpt.ts
  plugins/openai/src/tts.ts
  plugins/openai/src/whisper.ts
Owners: @Dabolus

refactor(plugins/azure-openai): remove 'azure-openai' prefix
  plugins/azure-openai/src/dalle.ts
  plugins/azure-openai/src/embedder.ts
  plugins/azure-openai/src/gpt.ts
  plugins/azure-openai/src/tts.ts
  plugins/azure-openai/src/whisper.ts
Owners: @xavidop

fix(plugins/openai): tests
  plugins/openai/src/gpt.test.ts
Owners: @Dabolus

refactor(plugins/cohere): remove 'cohere' prefix
  plugins/cohere/src/command.ts
  plugins/cohere/src/embedder.ts
Owners: @davidoort, @EPMatt

refactor(plugins/anthropic): remove 'anthropic' prefix
  plugins/anthropic/src/claude.ts
Owners: @Dabolus

fix: undo changes to convex and remove unused stuff in cohere
  plugins/cohere/src/command.ts
  plugins/cohere/src/embedder.ts
  plugins/cohere/src/index.ts
  plugins/convex/src/index.ts
Owners: @davidoort, @EPMatt

chore(plugins/groq): remove unnecessary comments
  plugins/groq/tests/groq_test.ts
Owners: @davidoort, @EPMatt

fix(plugins/anthropic): couple issues with migrations
  plugins/anthropic/src/claude.ts
  plugins/anthropic/src/index.ts
Owners: @Dabolus

fix: broken test
  plugins/anthropic/src/claude.test.ts
Owners: @Dabolus

chore(plugins/groq): add name and namespace
  lerna.json
Owners: @davidoort, @EPMatt

chore(plugins/groq): format
  plugins/groq/src/index.ts
Owners: @davidoort, @EPMatt

fix(plugins/anthropic): add prefix
  plugins/anthropic/src/claude.ts
Owners: @Dabolus

tests(plugins/groq): test for namespace to be groq when listing available models
  plugins/groq/tests/groq_test.ts
Owners: @davidoort, @EPMatt

refactor: add namespace
  plugins/cohere/src/command.ts
  plugins/cohere/src/embedder.ts
Owners: @davidoort, @EPMatt

refactor(plugins/cohere) minor change
  plugins/cohere/src/command.ts
Owners: @davidoort, @EPMatt

fix(plugins/anthropic): fix broken test
  plugins/anthropic/src/claude.ts
Owners: @Dabolus

feat: add claude sonnet 4.5 support
  plugins/anthropic/src/claude.ts
  plugins/anthropic/src/index.ts
Owners: @Dabolus

fix(plugins/anthropic): resolver
  plugins/anthropic/src/index.ts
Owners: @Dabolus

test(js/plugin/groq): setup jest tests
  plugins/groq/.gitignore
  plugins/groq/jest.config.js
  plugins/groq/package.json
  plugins/groq/src/index.ts
  plugins/groq/tests/groq.test.ts
  plugins/groq/tests/index.ts
  plugins/groq/tests/integration.test.ts
Owners: @davidoort, @EPMatt

test(js/plugin/groq): add plugin standalone tests
  plugins/groq/tests/integration.test.ts
Owners: @davidoort, @EPMatt

test(js/plugins/groq): implement resolve method and add standalone tests
  plugins/groq/src/index.ts
  plugins/groq/tests/integration.test.ts
Owners: @davidoort, @EPMatt

feat(plugins/anthropic): pull list of models from anthropic SDK
  plugins/anthropic/src/index.ts
Owners: @Dabolus

refactor(plugins/anthropic): improve list func readability
  plugins/anthropic/src/index.ts
Owners: @Dabolus

chore(js/plugins/groq): cleanup
  plugins/groq/src/index.ts
  plugins/groq/tests/groq.test.ts
Owners: @davidoort, @EPMatt

.github/CODEOWNERS:

# Global code owners
*       @davidoort @EPMatt

# Plugins owners
/plugins/openai/ @Dabolus
/plugins/anthropic @Dabolus
/plugins/hnsw @retzd-tech
/plugins/milvus @zhanshuyou
/plugins/azure-openai/ @xavidop
