Repository BloomLabsInc/genkit-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davidoort, @EPMatt, @xavidop, @Dabolus, @retzd-tech, @zhanshuyou

refactor(js/plugins/groq): replace loop with push to a map
  plugins/groq/src/index.ts
Owners: @davidoort, @EPMatt, @xavidop

tests(js/plugins/groq): clear mocks before test suits
  plugins/groq/tests/integration.test.ts
Owners: @davidoort, @EPMatt, @xavidop

fix(plugins/anthropic): prefix and adjust based on feedback
  plugins/anthropic/src/claude.ts
  plugins/anthropic/src/index.ts
Owners: @Dabolus

fix(plugins/anthropic): test
  plugins/anthropic/src/claude.test.ts
Owners: @Dabolus

feat(anthropic): add sonnet 4.5
  plugins/anthropic/src/claude.ts
Owners: @Dabolus

fix(anthropic): export sonnet 4.5
  plugins/anthropic/src/index.ts
Owners: @Dabolus

fix(anthropic): remove accidentally committed stuff
  plugins/anthropic/src/claude.ts
Owners: @Dabolus

feat: release
  package-lock.json
Owners: @davidoort, @EPMatt, @xavidop

feat(plugins/anthropic): add Claude 4.5 Haiku model
  plugins/anthropic/src/claude.ts
  plugins/anthropic/src/index.ts
Owners: @Dabolus

feat: force release
  package.json
Owners: @davidoort, @EPMatt, @xavidop

remove 'claude-haiku-4-5-latest' specifier
  plugins/anthropic/src/claude.ts
Owners: @Dabolus

add test
  plugins/anthropic/src/claude.test.ts
Owners: @Dabolus

feat: force release
  package.json
Owners: @davidoort, @EPMatt, @xavidop

feat(anthropic): add Claude 4.5 Opus model support
  plugins/anthropic/README.md
  plugins/anthropic/src/claude.ts
  plugins/anthropic/src/index.ts
Owners: @Dabolus

feat: bump anthropic
  plugins/anthropic/README.md
Owners: @Dabolus

feat: anthropic plugin moved to core
  docs/docs/plugins/anthropic.md
  docs/docs/plugins/openai.md
  plugins/anthropic/README.md
  plugins/openai/README.md
Owners: @davidoort, @EPMatt, @xavidop, @Dabolus

feat: Add Valkey plugin
  README.md
  package-lock.json
  plugins/valkey/.gitignore
  plugins/valkey/.npmignore
  plugins/valkey/LICENSE
  plugins/valkey/README.md
  plugins/valkey/jest.config.js
  plugins/valkey/package.json
  plugins/valkey/src/index.ts
  plugins/valkey/test/index.test.ts
  plugins/valkey/tsconfig.json
  plugins/valkey/tsup.config.ts
Owners: @davidoort, @EPMatt, @xavidop

Add bugs URL to package.json
  plugins/openai/package.json
Owners: @Dabolus

Add bugs metadata for genkitx-openai
  plugins/openai/package.json
Owners: @Dabolus

Add bugs metadata for genkitx-openai
  plugins/openai/package.json
Owners: @Dabolus

fix: add missing metadata fields to package.json
  package.json
Owners: @davidoort, @EPMatt, @xavidop

feat: add Groq models
  plugins/groq/src/groq_models.ts
Owners: @davidoort, @EPMatt, @xavidop

feat: include models in export
  plugins/groq/src/index.ts
Owners: @davidoort, @EPMatt, @xavidop

feat: deploy new version
  plugins/groq/README.md
Owners: @davidoort, @EPMatt, @xavidop

.github/CODEOWNERS:

# Global code owners
*       @davidoort @EPMatt @xavidop

# Plugins owners
/plugins/openai/ @Dabolus
/plugins/anthropic @Dabolus
/plugins/hnsw @retzd-tech
/plugins/milvus @zhanshuyou
/plugins/azure-openai/ @xavidop
